<section class="page">
  <div class="container">
    <h5 class="f-25"> Tenha acesso a mais de 100 </h5>
    <h1 class="f-52 font-poppins"> scripts de alta conversão </h1>

    <p class="f-24 font-poppins">
      que já venderam mais de <span class="f-24 text-marking">1 milhão</span> de reais para você <span class="f-24 text-marking">COPIAR E COLAR</span>
    </p>

    <figure>
      <img src="../../../../assets/tlnt-1024x509.png" alt="">
    </figure>

    <img class="arrow" src="../../../../assets/seta-para-baixo-4.png" alt="">
  </div>
</section>
