<section class="page">
  <div class="container">

    <p class="f-46 font-poppins" data-aos="zoom-in">
      Treinamento em vídeo que vai te ensinar <span class="f-46 font-poppins text-marking">o
      que você precisa saber</span> para entender tudo
      sobre venda pelo WhatsApp e <span class="f-46 font-poppins text-marking">scripts</span> testados
      e validados para você <span class="f-46 font-poppins text-marking">copiar, colar e vender!</span>
    </p>

    <figure data-aos="zoom-in">
      <img src="../../../../assets/mockup-cell-e-notebook-768x496.png" alt="">
    </figure>

    <p class="f-21 description" data-aos="zoom-in">
      Além dos scripts, tenha um treinamento completo em vídeo que vai te ensinar do absoluto zero a como vender todo dia usando a internet através do WhatsApp
    </p>


    <button title="Suporte" class="animation-btn" mat-raised-button color="primary" rel="noopener" data-aos="zoom-in" (click)="moveScrollScreen('price')">
      EU QUERO LUCRAR PELO WHATSAPP
    </button>

    <img class="arrow" src="../../../../assets/seta-para-baixo-4.png" alt="" data-aos="zoom-in">
  </div>
</section>
