<section class="page">
  <div class="container">
    <h1 class="f-63 font-poppins"> O segredo dos scripts e mensagens no WhatsApp para você triplicar seus agendamentos e vendas </h1>

    <p class="f-28">
      Transforme suas mensagens no WhatsApp em uma máquina de vendas e converta até 9 em cada 10 clientes que entram em contato com você!
    </p>

    <iframe
      class="video"
      src="https://www.youtube.com/embed/BxjhURZLn74?si=Jwwoq6stM4ndmogw"
      title="Método LCW - Lucre com WhatsaApp" frameborder="0"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
    ></iframe>

    <h1 class="f-86"> é método </h1>

    <p class="f-28"> Não tem fórmula milagrosa e mágica </p>

    <button class="animation-btn" mat-raised-button color="primary">
      EU QUERO LUCRAR PELO WHATSAPP
    </button>

    <img src="../../../../assets/raios-divisao.png" alt="">
  </div>
</section>
