section.page{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container{
    width: 90%;
    max-width: var(--max-width);
  }
}
