:root {
  font-size: calc(10px + 0.3125vw);
  --ts: all 0.3s linear;
  --br: 28px;
  --max-width: 1140px;

  --white: #fff;
  --label: #1B1B1B;
  --red-color: #bb2929;

  --color-primary: #00D365;
  --color-secondary: #008941;

  // ? Scrollbar
  --scroll-track: var(--color-primary);
  --scroll-thumb: #023a1c;

  // ? Buttons
  --button-border: 4px;
  --button-bg: #6AFFC3;
  --button-label: #1B1B1B;
}
