<main>
  <nav>
    <img src="../../../assets/logo-lcw-topo3-300x136.png" alt="">
  </nav>

  <app-hero />
  <app-about-script />
  <app-difficulty-in-selling />
  <div class="banner">
    <img src="../../../assets/logo-lcw-branca-e-preta-300x112.png" alt="" data-aos="zoom-in">
  </div>
  <app-video-training />
  <!-- <app-course-content /> -->
  <!-- <app-training /> -->
  <!-- <app-testimonials /> -->
  <!-- <app-get-to-know-mento /> -->
  <!-- <app-bonus /> -->
  <!-- <app-prices /> -->
  <!-- <app-guarantee /> -->
  <app-doubts />
  <!-- <app-faq /> -->

  <app-whatsapp link="https://api.whatsapp.com/send/?phone=5521979744975&text=Ol%C3%A1%2C+quero+falar+sobre+o+M%C3%A9todo+LCW&type=phone_number&app_absent=0" />
</main>
