main{
  width: 100%;
  height: max-content;

  nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    img{
      width: 30%;
      max-width: 300px;
      object-fit: contain;
    }
  }

  .banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C785B;
    padding: 10px 0px 40px 0px;

    img{
      width: 30%;
      max-width: 300px;
      object-fit: contain;
    }
  }
}
