
@use '@angular/material' as mat;
@include mat.core();

$nathan-public-web-primary: mat.define-palette(mat.$indigo-palette);
$nathan-public-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$nathan-public-web-warn: mat.define-palette(mat.$red-palette);

$nathan-public-web-theme: mat.define-light-theme((
  color: (
    primary: $nathan-public-web-primary,
    accent: $nathan-public-web-accent,
    warn: $nathan-public-web-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($nathan-public-web-theme);

/* You can add global styles to this file, and also import other style files */
@import "styles/button";
@import "styles/media";
@import "styles/page";
@import "styles/scroll";
@import "styles/typography";
@import "styles/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
