<section class="page">
  <div class="container">
    <h1 class="f-57 font-poppins" data-aos="zoom-in"> Tem dúvidas? </h1>

    <img src="../../../../assets/icone-whatsapp.png" alt="" data-aos="zoom-in">

    <h3 class="f-22" data-aos="zoom-in"> Precisa de ajuda? Tirar dúvidas? Temos atendimento via WhatsApp! </h3>

    <a href="https://api.whatsapp.com/send/?phone=5521979744975&text=Ol%C3%A1%2C+quero+falar+sobre+o+M%C3%A9todo+LCW&type=phone_number&app_absent=0"
      target="_blank" title="Suporte" class="animation-btn" mat-raised-button color="primary" rel="noopener" data-aos="zoom-in">
      CLIQUE AQUI E FALE COM NOSSO SUPORTE
    </a>
  </div>
</section>
